<!-- Footer-->
            <footer class="footer bg-dark">
                <div class="footer-widgets">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <aside class="widget">
                                    <div class="widget-title">
                                        <h6>Services</h6>
                                    </div>
                                    <ul>
                                        <li><a href="services">Sweeping</a></li>
                                        <li><a href="services">Pressure Washing</a></li>
                                        <li><a href="services">Steam Cleaning</a></li>
                                        <li><a href="services">Day Porting</a></li>
                                        <li><a href="services">Landscaping</a></li>
                                        <li><a href="services">Graffiti Removal</a></li>
                                        <li><a href="services">Commerical Painting</a></li>
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <aside class="widget">
                                    <div class="widget-title">
                                        <h6>Company</h6>
                                    </div>
                                    <ul>
                                        <li><a href="about">About</a></li>
                                        <li><a href="jobs">Jobs</a></li>
                                        <li><a href="#">Terms of Service</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="contact">Contact Us</a></li>
                                        <li><a href="contact">Request an Estimate</a></li>
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <aside class="widget">
                                    <div class="widget-title">
                                        <h6>Customer Service</h6>
                                    </div>
                                    <ul>
                                        <li><a href="faq">FAQ</a></li>
                                        <!-- <li><a href="#">Service Status</a></li> -->
                                        <li><a href="contact">Contact Support</a></li>
                                        <li><a href="contact">Contact an Expert</a></li>
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <aside class="widget">
                                    <div class="widget-title">
                                        <h6>Social</h6>
                                    </div>
                                    <ul>
                                        <li><a href="portfolio">Gallery</a></li>
                                        <li><a href="readMore">Read More</a></li>
                                    </ul>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bar">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="copyright">
                                    <p>Copyright © 2019 Elite Maintenance Inc. All Rights Reserved.</p>
                                </div>
                            </div>
                            <div class="col-md-6 d-none d-md-block">
                                <ul class="list-unstyled list-inline mb-0 pb-0 text-right">
                                    <li class="list-inline-item"><img src="assets/images/payments/if_visa.png" alt=""></li>
                                    <li class="list-inline-item"><img src="assets/images/payments/if_paypal.png" alt=""></li>
                                    <li class="list-inline-item"><img src="assets/images/payments/if_mastercard.png" alt=""></li>
                                    <li class="list-inline-item"><img src="assets/images/payments/if_discover.png" alt=""></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer end-->
        </div>

        <!-- To top button--><a class="scroll-top" href="#top"><i class="ti-angle-up"></i></a>
    </body>
    <!-- Scripts-->
    <script src="assets/js/custom/jquery-3.2.1.min.js"></script>
    <script src="assets/js/bootstrap/popper.min.js"></script>
    <script src="assets/js/bootstrap/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA0rANX07hh6ASNKdBr4mZH0KZSqbHYc3Q"></script>
    <script src="assets/js/custom/plugins.min.js"></script>
    <script src="assets/js/custom/custom.min.js"></script>
</html>