<% include ./partials/header %>

<div class="wrapper">
            <!-- Hero-->
            <section class="module-cover bg-dark parallax" data-background="assets/images/aboutBackground.png" data-overlay="0.6">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 m-auto text-center">
                            <h1>We are a maintenance company <br> based in Silicon Valley</h1>
                            <p class="lead">Creating value since 2017</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Hero end-->

            <!-- Bars-->
            <section class="module">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-lg-6 m-auto text-center">
                            <h2>We Design the Outside.</h2>
                            <p class="lead">See why Fortune 500 companies have entrusted us with the <br>day-to-day upkeeping of their buildings.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Bars end-->

            <!-- Images-->
            <section class="module py-0">
                <div class="container-fluid p-0">
                    <div class="row no-gutters">
                        <div class="col-md-12">
                            <div class="owl-carousel image-carousel"><a class="gallery" href="assets/images/fleet.jpg"><img src="assets/images/fleet.jpg" alt=""></a><a class="gallery" href="assets/images/mainBackground.jpg"><img src="assets/images/mainBackground.jpg" alt=""></a><a class="gallery" href="assets/images/module-1.jpg"><img src="assets/images/module-1.jpg" alt=""></a><a class="gallery" href="assets/images/portfolio/dayPorting.jpeg"><img src="assets/images/portfolio/dayPorting.jpeg" alt=""></a></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Images end-->

            <!-- Services-->
            <section class="module">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-lg-6 m-auto text-center">
                            <h2>Customer-centric Mindset.</h2>
                            <p class="lead">Our business model is simple: we employ the most dedicated workers to always provide their best work.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="space" data-mt="60px"></div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <div class="wave-pulse wave-pulse-1"></div>
                            <div class="wave-pulse wave-pulse-2"></div>
                            <div class="wave-pulse wave-pulse-3"></div>
                            <p class="text-center"><img class="relative z-index-10" src="assets/images/main/iphoneCopy2.png" alt=""></p>
                        </div>
                        <div class="col-lg-4">
                            <div class="icon-box">
                                <div class="icon-box-icon"><span class="icon-phone icons"></span></div>
                                <div class="icon-box-title">
                                    <h6>Stay Connected</h6>
                                </div>
                                <div class="icon-box-content">
                                    <p>No distractions. We will send you photographs to document our amazing work.</p>
                                </div>
                                <div class="icon-box-link"><a href="readMore">Read More &rarr;</a></div>
                            </div>
                            <div class="icon-box">
                                <div class="icon-box-icon"><span class="icon-diamond icons"></span></div>
                                <div class="icon-box-title">
                                    <h6>Diamond Quality Service</h6>
                                </div>
                                <div class="icon-box-content">
                                    <p>Rest assure that the work we perform will always exceed the industry standard.</p>
                                </div>
                                <div class="icon-box-link"><a href="readMore">Read More &rarr;</a></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="icon-box">
                                <div class="icon-box-icon"><span class="icon-layers icons"></span></div>
                                <div class="icon-box-title">
                                    <h6>Bundle Up &amp; Save</h6>
                                </div>
                                <div class="icon-box-content">
                                    <p>Request more services and be rewarded with loyalty points. Because we all love a bargain.</p>
                                </div>
                                <div class="icon-box-link"><a href="readMore">Read More &rarr;</a></div>
                            </div>
                            <div class="icon-box">
                                <div class="icon-box-icon"><span class="icon-settings icons"></span></div>
                                <div class="icon-box-title">
                                    <h6>Choose Your Preferences</h6>
                                </div>
                                <div class="icon-box-content">
                                    <p>Ask an expert for guidance or choose the services, we are here to help.</p>
                                </div>
                                <div class="icon-box-link"><a href="readMore">Read More &rarr;</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Services end-->

            <!-- Testimonials-->
            <section class="module bg-dark parallax" data-background="" data-overlay="1" data-gradient="1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="space" data-mt="60px"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 m-auto">
                            <div class="review-slides owl-carousel">
                                <div class="review">
                                    <div class="review-icons"><img src="assets/images/EM-light.png" alt=""></div>
                                    <div class="review-content">
                                        <blockquote>
                                            <h2>The best maintenance company for your business.</h2>
                                            <p class="btn-list pt-4"><a class="btn btn-lg btn-outline-new-white" href="contact">Request an Estimate</a></p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="space" data-mb="60px"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Testimonials end-->

<% include ./partials/footer %>