<% include ./partials/header %>

<div class="wrapper">
            <!-- Hero-->
            <section class="module-cover bg-dark parallax" data-background="assets/images/module-1.jpg" data-overlay="1" data-gradient="1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 m-auto text-center">
                            <h1>Frequently Asked Questions</h1>
                            <p class="lead">Below are our most frequently asked questions.<br>If you have other questions, feel free to <a href="contact">contact us</a>.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Hero end-->

            <!-- FAQ-->
            <section class="module">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="list-group mb-5"><a class="list-group-item list-group-item-action" href="services">Services</a><a class="list-group-item list-group-item-action active" href="#">FAQ</a><a class="list-group-item list-group-item-action" href="readMore">Read More</a></div>
                            <div class="card card-lg border no-shadow">
                                <div class="card-header">
                                    <h6 class="mb-0">Need Help?</h6>
                                </div>
                                <div class="card-body">
                                    <p>Send us a message and we will respond as soon as possible.</p>
                                    <p><a href="contact">Contact us &rarr;</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="accordion" id="accordion1">
                                <div class="accordion-item">
                                    <div class="accordion-item-header">
                                        <h6><a class="accordion-link" data-toggle="collapse" href="#collapse-1">Will I be charged a fee for requesting an estimate?</a></h6>
                                    </div>
                                    <div class="collapse show" id="collapse-1" data-parent="#accordion1">
                                        <div class="accordion-item-body">
                                            <p>No, our estimates are conducted free of charge. There is no cost or hidden fees in requesting an estimate from Elite Maintenance, only a sincere hope that our estimate will lead to a long-lasting relationship with your business.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-item-header">
                                        <h6><a class="accordion-link collapsed" data-toggle="collapse" href="#collapse-2">How do I accept or decline an estimate?</a></h6>
                                    </div>
                                    <div class="collapse" id="collapse-2" data-parent="#accordion1">
                                        <div class="accordion-item-body">
                                            <p>Once you receive an estimate, there will be a portion allocated for your signature. Please sign your name and send us a PDF of the signed estimate to <strong>contracts@elitemaintenancecorp.com</strong>. The estimate will contain detailed information of the services to be performed and will serve as a contract.</p>
                                            <p>If you receive an estimate and have any questions, concerns, or need to change part of the estimate, please contact our site estimator at <strong>jose@elitemaintenancecorp.com</strong>.</p>
                                            <p>If you decide not to make Elite Maintenance your service provider, there is no form to sign. We hope that your chosen maintenance company provides you with outstanding work and the Elite Maintenance family will always appreciate future considerations to make us your trusted maintenance company.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-item-header">
                                        <h6><a class="accordion-link collapsed" data-toggle="collapse" href="#collapse-3">What are the terms of the contract?</a></h6>
                                    </div>
                                    <div class="collapse" id="collapse-3" data-parent="#accordion1">
                                        <div class="accordion-item-body">
                                            <p>Our typical estimate/contract is automatically renewed every month unless noted otherwise.</p>
                                            <p>If you are requesting a one-time service or services to be performed at a quarterly (every other month, once a year, etc.) frequency, please make sure that this is noted in the estimate. If you're not sure, our site estimator will be more than glad to walk you through any and all parts of your estimate.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-item-header">
                                        <h6><a class="accordion-link collapsed" data-toggle="collapse" href="#collapse-4">Do you also perform other services?</a></h6>
                                    </div>
                                    <div class="collapse" id="collapse-4" data-parent="#accordion1">
                                        <div class="accordion-item-body">
                                            <p>If you need a service that is not listed on our website, please <a href="contact">contact us</a> with the scope of work you need to be performed and our specialist will contact you shortly. Even if we cannot provide a solution, we will do our best to refer you to a trusted partner company that will be able to.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-item-header">
                                        <h6><a class="accordion-link collapsed" data-toggle="collapse" href="#collapse-5">Do you have all the necessary documents to perform a service?</a></h6>
                                    </div>
                                    <div class="collapse" id="collapse-5" data-parent="#accordion1">
                                        <div class="accordion-item-body">
                                            <p>Yes, Elite Maintenance has been approved for all documentation, licenses, and insurance requirements at the county, state, and federal level in order to perform our services. Our company is insured and bonded.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-item-header">
                                        <h6><a class="accordion-link collapsed" data-toggle="collapse" href="#collapse-6">How do you stay competitive?</a></h6>
                                    </div>
                                    <div class="collapse" id="collapse-6" data-parent="#accordion1">
                                        <div class="accordion-item-body">
                                            <p>Elite Maintenance believes that our best investment is in our clients. For this reason, we constantly acquire new state-of-the-art machinery in order to offer high-quality services at a truly competitive pricing. Also, we offer training to our employees to ensure that they are maximizing all the benefits of their equipment.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- FAQ end-->


<% include ./partials/footer %>