<% include ./partials/header %>

<div class="wrapper">
            <!-- Hero-->
            <section class="module-cover bg-dark parallax" data-background="assets/images/module-1.jpg" data-overlay="1" data-gradient="1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 m-auto text-center">
                            <h1>Read More</h1>
                            <p class="lead">Because we are more than a maintenance company. <br>We are here to ease the management of your business.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Hero end-->

            <!-- FAQ-->
            <section class="module">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="list-group mb-5"><a class="list-group-item list-group-item-action" href="services">Services</a><a class="list-group-item list-group-item-action" href="faq">FAQ</a><a class="list-group-item list-group-item-action active" href="#">Read More</a></div>
                            <div class="card card-lg border no-shadow">
                                <div class="card-header">
                                    <h6 class="mb-0">Need Help?</h6>
                                </div>
                                <div class="card-body">
                                    <p>Send us a message and we will respond as soon as possible.</p>
                                    <p><a href="contact">Contact us &rarr;</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="accordion" id="accordion1">
                                <div class="accordion-item">
                                    <div class="accordion-item-header">
                                        <h6><a class="accordion-link" data-toggle="collapse" href="#collapse-1">Great Documentation</a></h6>
                                    </div>
                                    <div class="collapse show" id="collapse-1" data-parent="#accordion1">
                                        <div class="accordion-item-body">
                                            <p>Elite Maintenance on-site employees will always document their work on your property. This way you can rest assure that your property has received the high-quality Elite Maintenance service guarantees without having to leave your office.</p>
                                            <p>In addition, Elite Maintenance will provide you with an invoice through your preferred email to make transactions smoother.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-item-header">
                                        <h6><a class="accordion-link collapsed" data-toggle="collapse" href="#collapse-2">Let's Connect</a></h6>
                                    </div>
                                    <div class="collapse" id="collapse-2" data-parent="#accordion1">
                                        <div class="accordion-item-body">
                                            <p>We understand that your time matters. For this reason, we will never make you wait on the phone hearing music while waiting for the next available representative. Our support staff is only one phone call or email away. No waiting, no hassle.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-item-header">
                                        <h6><a class="accordion-link collapsed" data-toggle="collapse" href="#collapse-3">Disrupting the Industry</a></h6>
                                    </div>
                                    <div class="collapse" id="collapse-3" data-parent="#accordion1">
                                        <div class="accordion-item-body">
                                            <p>Our understanding of the maintenance industry is what provides Elite Maintenance with the edge to thrive in this competitive industry. We focus on anticipating our clients' needs so that our employees can receive the proper training and be ready to perform at a high-level from the first day. We strive to be the best maintenance company on the market by enhancing our understanding of the processes that must be properly follow to ensure chemicals and machinery are used at their optimal conditions.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-item-header">
                                        <h6><a class="accordion-link collapsed" data-toggle="collapse" href="#collapse-4">Responsive Team</a></h6>
                                    </div>
                                    <div class="collapse" id="collapse-4" data-parent="#accordion1">
                                        <div class="accordion-item-body">
                                            <p>Our amicable and highly-skilled staff is prepared to answer any and all questions you may have about a service that we offer. With our contact page, we make it easier than ever to talk to one of our specialists &amp; it's completely free!</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-item-header">
                                        <h6><a class="accordion-link collapsed" data-toggle="collapse" href="#collapse-5">Giving Back</a></h6>
                                    </div>
                                    <div class="collapse" id="collapse-5" data-parent="#accordion1">
                                        <div class="accordion-item-body">
                                            <p>Our painters with 30+ of experience in residential and commercial painting defintely posess the experience and skills to provide a make over to your building. From amusement parks, garages, government buildings, and stores, our team has vast knowledge of the best products and techniques to employ to deliver durable, high-quality paint regardless of the surface being painted on.</p>
                                            <p>Whether you're remodeling your building or only touching up a few walls, Elite Maintenance employs the best team for the job. Not only will we produce outstanding work, our team will gladly match the current the color of your choice to 99% accuracy.</p>
                                            <p><small>Disclaimer: Although Elite Maintenance does its best efforts to offer 24 hour services, due to suboptimal weather conditions at night, we highly recommend performing large painting jobs during the daytime.</small></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-item-header">
                                        <h6><a class="accordion-link collapsed" data-toggle="collapse" href="#collapse-6">Your Business. Your Way</a></h6>
                                    </div>
                                    <div class="collapse" id="collapse-6" data-parent="#accordion1">
                                        <div class="accordion-item-body">
                                            <p>While we believe that our processes and chemicals we employ for our services are one of the best, if you prefer a different approach, our site coordinator will be more than glad to work along your side to verify that our services are performed to your preference.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- FAQ end-->


<% include ./partials/footer %>