<% include ./partials/header %>

<div class="wrapper">
            <!-- Hero-->
            <section class="module-cover bg-dark parallax" data-background="assets/images/module-1.jpg" data-overlay="1" data-gradient="1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 m-auto text-center">
                            <h1>Services</h1>
                            <p class="lead">Learn more about the numerous services we perform to <br>ensure our clients' properties are maintained in a pristine state.</p>
                        </div>
                    </div>
                </div>
            </section>
       		<!-- Hero end-->
			<!-- FAQ-->
            <section class="module">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="list-group mb-5"><a class="list-group-item list-group-item-action active" href="#">Services</a><a class="list-group-item list-group-item-action" href="faq">FAQ</a><a class="list-group-item list-group-item-action" href="readMore">Read More</a></div>
                            <div class="card card-lg border no-shadow">
                                <div class="card-header">
                                    <h6 class="mb-0">Need Help?</h6>
                                </div>
                                <div class="card-body">
                                    <p>Send us a message and we will respond as soon as possible.</p>
                                    <p><a href="contact">Contact us &rarr;</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="accordion" id="accordion1">
                                <div class="accordion-item">
                                    <div class="accordion-item-header">
                                        <h6><a class="accordion-link" data-toggle="collapse" href="#collapse-1">Sweeping</a></h6>
                                    </div>
                                    <div class="collapse show" id="collapse-1" data-parent="#accordion1">
                                        <div class="accordion-item-body">
                                            <p>From our recent investment in a state-of-the-art Nite-Hawk sweeper truck, we are proud to provide an environmentally sustainable service to our clients. Elite Maintenance's sweeper trucks are precisely engineered to emit the lowest levels of noise, equipping our sweepers with the perfect hydraulic system to operate near residential areas in a discreet manner.</p>
                                            <p>Elite Maintenance offers sweeping services 24/7 as to not interfere with your business hours<sup><small>*</small></sup>. We use powerful electric blowers to provide an efficient and environmentally-friendly service to all our clients. Our site manager will personally view your property to provide you with the best estimate and suggestions as to how to best maintain your property.</p>
                                            <p><sup><small>*</small></sup>Due to city regulations near residential areas, we may not be able to service your location at certain times. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-item-header">
                                        <h6><a class="accordion-link collapsed" data-toggle="collapse" href="#collapse-2">Pressure Washing / Steam Cleaning</a></h6>
                                    </div>
                                    <div class="collapse" id="collapse-2" data-parent="#accordion1">
                                        <div class="accordion-item-body">
                                            <p>From sidewalks to docking stations, our pressure washing experts are the team you need to leave your pavement and building looking brand new. With our enthusiastic pressure washering team that boast a powerful steam cleaning machine, there isn't a smudge or oil stain that we cannot remove.</p>
                                            <p>Our heavy duty pressure washing and steam cleaning machine will erase any signs of stains and oil spills. In addition, gum residue and dust will also be removed. Elite Maintenance's professional staff are able to remove the toughest of stains with the help of our company's deep knowledge of chemical solutions and advanced pressure washing techniques. As always, we offer pressure washing services at the most convenient time for your business.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-item-header">
                                        <h6><a class="accordion-link collapsed" data-toggle="collapse" href="#collapse-3">Landscaping</a></h6>
                                    </div>
                                    <div class="collapse" id="collapse-3" data-parent="#accordion1">
                                        <div class="accordion-item-body">
                                            <p>With our novel approach to landscaping, rest assure that our proven system will lower your costs in the short and long-term while also protecting the environment. Elite Maintenance is proud to state that we provide affordable and award-worthy landscaping services for all needs.</p>
                                            <p>From sprinkle installion to day-to-day branch trimming, we are proud to offer the essential landscaping services every business is sure to need. By investing in traning and equipment, we are able to offer a truly competitive service at an amazing quality. And yes, we offer 24 hour landscaping services!</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-item-header">
                                        <h6><a class="accordion-link collapsed" data-toggle="collapse" href="#collapse-4">Day Porting</a></h6>
                                    </div>
                                    <div class="collapse" id="collapse-4" data-parent="#accordion1">
                                        <div class="accordion-item-body">
                                            <p>Our friendly and professional staff of day porters will ensure that your property is spotless and presentable to the public. We understand the importance of first impressions, so choose Elite Maintenance to provide your lot with an exceptional and trusted day porting service that will leave your lot looking brand new.</p>
                                            <p>Elite Maintenance offers two main services:<br>1. Porting services after business hours to ensure that your business is presentable for the next day.<br>2. Day porting services during operation hours to keep your building clean throughout the day.<br><br> Both services include picking up litter, replacing trash bags, cleaning the outer rim of trash cans, and disposing of the trash. Of course, feel free to request both type of services.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-item-header">
                                        <h6><a class="accordion-link collapsed" data-toggle="collapse" href="#collapse-5">Painting</a></h6>
                                    </div>
                                    <div class="collapse" id="collapse-5" data-parent="#accordion1">
                                        <div class="accordion-item-body">
                                            <p>Our painters with 30+ of experience in residential and commercial painting defintely posess the experience and skills to provide a make over to your building. From amusement parks, garages, government buildings, and stores, our team has vast knowledge of the best products and techniques to employ to deliver durable, high-quality paint regardless of the surface being painted on.</p>
                                            <p>Whether you're remodeling your building or only touching up a few walls, Elite Maintenance employs the best team for the job. Not only will we produce outstanding work, our team will gladly match the current the color of your choice to 99% accuracy.</p>
                                            <p><small>Disclaimer: Although Elite Maintenance does its best efforts to offer 24 hour services, due to suboptimal weather conditions at night, we highly recommend performing large painting jobs during the daytime.</small></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-item-header">
                                        <h6><a class="accordion-link collapsed" data-toggle="collapse" href="#collapse-6">Graffiti Removal</a></h6>
                                    </div>
                                    <div class="collapse" id="collapse-6" data-parent="#accordion1">
                                        <div class="accordion-item-body">
                                            <p>We understand the detrimental effects of vandalism on commercial property, so our team will schedule our earliest appointment available to help you maintain your branding.</p>
                                            <p>To ensure the complete removal of graffiti, our all-in-one service bundle includes the following: pressure washing, graffiti removal, preparing the surface area to be painted, matching &amp; painting, and blending painted area with surroundings.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- FAQ end-->

<% include ./partials/footer %>